<div id="div1" ng-controller="LoginCtrl" ng-show="showLogin">
		<p class= "image1"><image src= "img/name1.jpg" id= "image1"></p>
		<form>
			<input type= "text" required placeholder= "User Name" id= "uname" title= "Enter User Name" ng-model="userName"></br></br>
			<input type= "password" required placeholder= "Password" id= "pwd" title= "Enter Password" ng-model="userPass">
			<!--<input type= "button" id= "forgotpwd" title= "Forgot Password?">--></br></br>                              
			<input type= "button" value= "Login" id= "submit" ng-click= "login()"></br>
		</form>
			<!--<h4>Not a Member? <a href= "www.google.com">Join Now</a></h4>-->
</div>