<html ng-app="checkweather">
<head>
	<script src="angular.min.js"></script>
	<script src="jquery-2.1.1.min.js"></script>
	<script src="weather.js"></script>
	<link rel="stylesheet" type="text/css" href="weather.css">
</head>


<body>
<body ng-controller="weatherupdate">
	
	<p>To check your internet connectivity click the button.</p>
	<input type= "button" value= "Check Connectivity" id= "buttoncheck" ng-click= "check()">
	<section id= "sec1"></section>

	<section id= "sec2">
	<center>
		
		<h2>Enter Countries and City for IndexedDB</h2>
		<div id= "ctrl">
			<input type="text" id="name" placeholder="Enter the Country" title= "Country"><br/>
			<input type="text" id="city1" placeholder="Enter the City" title= "City"><br/>
		
			<input type="button" value="Add" id="addbutton">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="button" value="Read" id="readbutton"><br>
		</div>
		
		<div id= "divfetch">
			<marquee><h2>Fetching Weather Updates...</h2></marquee>
		</div>
		

		<h2 id="message"></h2>
		<section id="results"></section>
		<section id= "sec1"></section>

		<table border="1">
			<thead>
				<tr>
					<th>Country</th>
					<th>City</th>
					<th>Min Temp</th>
					<th>Max Temp</th>
					<th>Time</th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="x in list">
					<td>{{x.sys.country}}</td>					
					<td>{{x.name}}</td>
					<td>{{x.main.temp_min}}</td>
					<td>{{x.main.temp_max}}</td>
					<td>{{x.main.temp}}</td>
				</tr>
			</tbody>	
		</table>

	</center>
	</section>

</body>
</html>